<h1>Display your Pirate here</h1>
<label>Pirate</label>
<p>
<label>Name: <%= @pirate.name %></label>
<br>
<label>Weight: <%= @pirate.weight %></label>
<br>
<label>Height: <%= @pirate.height %></label>
<br>
</p>

<h2>Display your first ship here</h2>
<label>Ship 1</label>
<p>
<label>Name: <%= @ships[0].name %></label>
<br>
<label>Type: <%= @ships[0].type %></label>
<br>
<label>Booty: <%= @ships[0].booty %></label>
<br>
</p>

<h2>Display your second ship here</h2>
<label>Ship 2</label>
<p>
<label>Name: <%= @ships[1].name %></label>
<br>
<label>Type: <%= @ships[1].type %></label>
<br>
<label>Booty: <%= @ships[1].booty %></label>
<br>
</p>